.container {
  box-shadow: 0px 0px 5px 4px rgba(151, 193, 255, 0.37);

  position: absolute;
  top: 40%;
  width: 2%;
  height: 11vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.733);
  border-radius: 0.5vw;
}

.bar {
  transition: 400ms;
  position: absolute;
  width: 30%;
  height: calc(0%);
  border-radius: 0.2vw;

  background-color: rgb(253, 37, 37);
  box-shadow: -0.2vw 5px 15px 3px #00000091;
  bottom: 5%;
}