@font-face {
    font-family: box;
    src: url('./box.ttf');
}

.streetname{
    display:  none;
    position: absolute;
    top: 0.5vw;
    width: 99%;
    text-align: center;
    color: white;
    font-family: box;
    font-size: 0.85vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}